/*
* Mixins
* imported from: https://codepen.io/fcfett/pen/odPzPX
*/

@max-width: 460px;

* {
  box-sizing: border-box; 
}

ul {
  list-style: none;
  padding: 0; margin: 0;
}

#text {
  display: block;
  width: 100%;
  height: 100px;
  max-width: @max-width;
  margin: 0 auto 10px;
  resize: none;
  .placeholder({
    font-style: italic;
  });
}

ul#emojis {
  font-family: sans-serif;
  border: 1px solid #a9a9a9;
  max-width: @max-width;
  max-height: 300px;
  overflow: auto;
  margin: 0 auto;
  
  li.category {
    h2.title {
      position: sticky;
      top: 0;
      margin: 0;
      padding: 8px 12px;
      color: #666;
      background: #ccc;
      z-index: 1;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
    }

    ul.list {
      padding: 10px 0;
      li {
        display: inline-block;
        font-size: 24px;
        padding: 6px;
        
        a {
          display: block;
          width: 30px;
          margin: 6px;
          overflow: hidden;
          cursor: pointer;
          text-decoration: none;
          .transition(.15s all ease-out);
          &:hover { .transform(scale(1.3)); }
        }
      }
    } 
  }
}