:root {
  --bg-color: #fff0f6;
  --text-color: #00082F;
  --primary-color: #5B4B8A;
  --primary-color-dark: #4C3575;
}

body{
  background: var(--bg-color);
  margin: 0 auto;
}

.panel{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(130, 15, 147, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(130, 15, 147, 0.28);
}

.question-container{
  margin: 1rem;
  padding: 1rem;
  width: 80vw;
  height: 10vh;
  /*background-color: #c7dddf;*/
  
  text-align: center;
    
}
.result{
  margin: 10px;
  padding: 5px;
  width:80vw;
  height: 10vh;
  text-align: center;
  font-size: 50px;
    
}
.option-container{
  display: flex;
  justify-content: space-around; 
  margin: 10px;
  padding: 5px;
  width: 80vw;
  height: 20vh;

      
}
.option{    
  padding: 1rem;
  width: 15vw;
  height: 10vh;
  font-size: larger;
  background-color: var(--primary-color);
  border-radius: 25%;
}
.option:hover{
  background-color: var(--bg-color);
}
.navigation{
  width: 80vw;
  height: 10vh;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;

}

.evaluate,.next{
  width:30vw;
  height: 8vh;
  padding: 5px;
  font-size: larger;
}
.evaluate{
  background-color: var(--bg-color);
}
.next{
  color: white;
  background-color: #BF3325;
}