* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #fff0f6;
  --primary-color: #36D6AD;
  --segundary-color: #3772FF;
  --text-primary-color: #FFFFFF;
  --segundary-text-color: #737380;
  --third-text-color: #BCBCBC;
  --color-button-pag-inicial: #FC7071;
  --color-button-hover: #FF9D9E;
  --color-fund-input: #F6F6F6;
  --color-creme: #FCF0E3;
  --primary-color-background: #E5E5E5;

  --font-principal:'Poppins', sans-serif;
  --font-secundaria: 'IBM Plex Sans', sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
}

.body-pag-login {
  background-color: var(--text-primary-color);
}

/*======CONFIGURAÇÕES MENU DE HOME E MENSAGEM DO HEADER====*/

.menu-header {
  display: flex;
  margin-top: 48px;

}
.home,
.mensagens {
  padding-left: 58.61px;
}

/*=======CONFIGURAÇÃO LOGO=======*/
.logo-pag-login {
  display: flex;
  padding-top: 86.99px;
  padding-bottom: 24px;
  justify-content: center;
  
}

/*=======CONFIGURAÇÃO CONTEUDO DA PÁGINA=======*/

.conteudo {
  height: 120vh;
  width: 70%;
  margin: 0 auto;
  flex-grow: 1;
}

/*=======CONFIGURAÇÃO DOS TEXTOS DA PÁGINA DE CADASTRO=======*/

.paragrafo-pag-login {
  text-align: center;
  color: var(--segundary-color);
  margin-left: 24px;
  margin-right: 24px;
  font-size: 16px;
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/*=======CONFIGURAÇÃO DOS FORMS PÁGINA CADASTRO=======*/
.labels-pag-login {
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  color: var(--segundary-text-color);
}

.input-forms-pag-login {
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  display: flex;
  justify-items: center;
  text-align: center;
  width: 312px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  background-color: var(--color-fund-input);
  border-style: none; 
  box-shadow: 1px 1px 3px var(--segundary-text-color);
}


.input-forms-pag-login-senha-protegida {
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  display: flex;
  justify-items: center;
  text-align: center;
  width: 312px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  background-color: var(--color-fund-input);
  border-style: none; 
  box-shadow: 1px 1px 3px var(--segundary-text-color);

  background-image: url('assets/senha-protegida.png');

  background-repeat: no-repeat;
  background-position: 
  right 1rem center;
}

/*=======CONFIGURAÇÃO DOS BOTOES DA PÁGINA DE CADASTRO=======*/

.button-entrar {
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  width: 148px;
  height: 40px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 105px;
  border-radius: 6px;
  color: var(--text-primary-color);
  background: var(--color-button-pag-inicial);
  border-style: none;
  display: block;
}

.button-entrar:hover {
  background: var(--color-button-hover);
}


.esqueci-minha-senha {
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;

  display: flex;
  justify-content: center;
  margin-top: 8px;
  color: var(--color-button-pag-inicial);

}
/*=======CONFIGURAÇÃO FOOTER=======*/
footer {
  text-align: center;
  padding-top: 41px;
  padding-bottom: 41px;
  color: var(--text-primary-color);
  background: var(--primary-color);
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

