* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fff0f6;
  --text-color: #00082F;
  --primary-color: #a57ac2;
  --primary-color-dark: #4C3575;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  
  font-family: 'Roboto', sans-serif;
}

/*=======CONFIGURAÇÃO CONTEUDO=======*/

.conteudo {
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  color: var(--text-color);
  margin-top: 24px;
  margin-bottom: 8px;
}

.paragrafo-pag-galeria-pets {
  display: flex;
  text-align: center;

  margin-top: 2rem;
  margin-bottom: 2rem;

  padding-left: 3rem;

  color: var( --primary-color);
  margin-top: -13rem;
  font-size: 1rem;
  font-family: var(--font-principal);
  font-style: normal;
  font-weight: 400;
}

ul {
  list-style: none;
}

.itens-lista {
  margin-left: -4rem;
}

.perfil-pet-dunga {
  background-color: var(--color-fund-input);
  width: 25rem;
  height: 12rem;
  display: flex;

  flex-direction: column;

  margin-bottom: 1rem;

  padding-top: 0.8rem;
  padding-left: 11.6rem;
  

  background-image: 
  url('../assets/dog-dunga.png'),
  url('../assets/icone-mensagem.png');
  background-repeat: 
  no-repeat;
  background-position: 
  left 1.2rem center,
  left 11.6rem bottom 1.2rem;
}

.perfil-pet-felicia {
  background-color: var(--color-fund-input);
  width: 25rem;
  height: 12rem;

  display: flex;

  flex-direction: column;

  padding-top: 0.8rem;
  padding-left: 11.6rem;

  background-image: 
  url('../assets/cat-felicia.png'),
  url('../assets/icone-mensagem.png');;
  background-repeat: 
  no-repeat;
  background-position: 
  left 1.2rem center,
  left 11.6rem bottom 1.2rem;
}

.perfil-pet-sirius {
  background-color: var(--color-fund-input);
  width: 25rem;
  height: 12rem;
  margin-top: 1rem;
  display: flex;

  flex-direction: column;

  padding-top: 0.8rem;
  padding-left: 11.6rem;

  background-image: 
  url('../assets/dog-sirius.png'),
  url('../assets/icone-mensagem.png');;
  background-repeat: 
  no-repeat;
  background-position: 
  left 1.2rem center,
  left 11.6rem bottom 1.2rem;
}

.nome-pet {
  font-family: var(--font-principal);
  color: var(--segundary-color);
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

.descricao-pet {
  font-family: var(--font-principal);
  color: var(--segundary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.3rem;
}


a {
  text-decoration: none;
  font-family: var(--font-principal);
  color: var(--segundary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1rem;
  padding-left: 1.5rem;
}

