body {
  max-height: 100vh;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  text-align: center;

  margin-top: 15rem;
}

h1:hover{
  color: #696969;
  transition: transform 300ms;
  transform: translateY(0);
}

p {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  justify-content: center;
}

a{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  color: blue;
}

img {
  height: 2rem;
  text-align: center;

  display: block;
  margin: 0px auto;
  margin-bottom: 1rem;

}
