body {
  max-height: 100vh;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  text-align: center;
}

h1:hover{
  color: #696969;
  transition: transform 300ms;
  transform: translateY(0);
}