body.purple {
  --bg-color: #fff0f6;
  --text-color: #00082F;
  --primary-color: #5B4B8A;
  --primary-color-dark: #4C3575;
}

body {
  background:var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}
.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img.avatar {
  width: 100%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px;

  transition: background 400ms;
}

img.avatar:hover {
  border: var(--primary-color-dark) solid 4px;
}

h1 {
  font-size: 2rem;
  color: var(--text-color);
  margin-top: 24px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

p {
  margin-top: -1rem;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}


.container {
  /*border: solid 1px rebeccapurple;*/

  padding: 2rem;

  /*-webkit-transform: rotate(-5deg);*/

  background: rgba(130, 15, 147, 0.12);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(130, 15, 147, 0.28);

}

.languages {
  height: 3rem;
  width: 5rem;

  padding-top: 2rem;
  -webkit-transform: rotate(-4deg);

  text-align: center;
  color: var(--text-color);
  
  background: rgba(171, 143, 223, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  border: 1px solid rgba(171, 143, 223, 0.93);

  animation: go-back 5s infinite alternate;
}

.l1 {
  margin-top: -5rem;
  margin-left: 1rem;
}

.l2 {
  margin-top: -5rem;
  margin-left: 7rem;
}

.l3 {
  margin-top: -5rem;
  margin-left: 13rem;
}

@keyframes go-back {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}